/* Geral */

// Fonte Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

// Fonte Barlow
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Quicksand:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

/* Animações */
    @keyframes show {
        to {
            clip-path: inset(-10px 0 -10px 0);
        } from {
            clip-path: inset(-10px 50% -10px 50%);
        }
    }
    @keyframes hide {
        to {
            clip-path: inset(-10px 50% -10px 50%);
        } from {
            clip-path: inset(-10px 0 -10px 0);
        }
    }

    @keyframes shake {
        from {
            transform: translate3d(0, 0, 0);
        } 95% {
            transform: translate3d(0, 0, 0);
        } 98%{
            transform: translate3d(0, 5px, 0);
        } 99% {
            transform: translate3d(0, 0, 0);
        } 100% {
            transform: translate3d(0, 5px, 0);
        }
    }

/*---*/
* {
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;
}

span {
    @include typo(2, 14);
    color: red;
}

.title {
    @include typo(1, 48, 500);
    text-align: center;
    line-height: 42px;
    margin: 60px auto 0 auto;
    max-width: 75%;
    @include mq("small") {
        @include typo(1, 36, 500);
    }
}

.container {
    display: grid;
    grid-template-columns: 100vw 100vw;
    margin: 24px 0;
    overflow: visible;
    @include mq("large") {
        display: flex;
        align-items: flex-start;
        margin: 20vh 0;
        justify-content: center;
        gap: 40px;
        transform: scale(1.5)
    }
}

.list-sign {
    @include typo(1, 18);
    @include sign();
    h3{
        padding-bottom: 2px;
        margin-right: 7px;
    }
}

input, textarea {
    @include typo(2, 12);
}

.form-sign {
    @include typo(1, 18);
    @include sign();
    h3{
        padding-bottom: 2px;
        margin-left: 7px;
    }
    img {
        transform: rotate(180deg);
        z-index: 0;
    }
}

@include mq("large") {
    .list-sign, 
    .form-sign,
    .arrow-down {
        display: none;
    }
}

// Lista de anexos
.attachments{
    margin-top: 10px;
    overflow: visible;
    input {
        opacity: 0;
        height: 0;
        width: 0;
    }
    .file-list-title{
        @include typo(2, 14);
        background-color: $white_light;
        max-width: fit-content;
        padding: 3px 5px;
        border: 1px solid black;
        border-radius: 5px;
        position: relative;
        left: 7px;
        top: 0.875em;
    }
    
    .file-list {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        background-color: $white_main;
        min-height: 50px;
        max-height: 100px;
        max-width: 100%;
        list-style: inside;
        overflow-y: scroll;
        z-index: 1;
        padding: 20px 5px 5px 5px;
        &::-webkit-scrollbar {
            display: none;
        }
        @include mq("large") {
            &.custom-scrollbar {
                &::-webkit-scrollbar {
                    display: block;
                    width: 20px;
                }
                &::-webkit-scrollbar-track {
                    background-color: $white_main;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $black_light;
                    border: 5px solid $white_main;
                    border-radius: 10px;
                }
            }
        }
    
        .file {
            @include typo(2, 12);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white_light;
            min-height: 25px;
            max-width: 80vw;
            border-radius: 5px;
            border: 1px solid black;
            padding: 5px 5px 5px 7px;
            margin-bottom: 5px;
            p {
                max-width: 90%;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-bottom: 0;
            }
            img {
                transition: all .2s;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }
            a {
                overflow: visible;
            }
        }
    
        p {
            @include typo(2, 12);
        }
    }
}

.confirm-box {
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    background-color: $white_light;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    max-width: 30vw;
    backdrop-filter: blur(5px);
    span {
        grid-column: 1 / -1;
        margin-bottom: 10px;
        text-align: center;
        @include typo(2, 18);
        line-height: 24px;
    }
    button {
        max-width: max-content;
        margin: 0 auto;
        background-color: $white_light;
        border-radius: 5px;
        @include typo(2, 18, 600);
        color: white;
        cursor: pointer;
        transition: transform .25s;
        &:hover {
            transform: scale(1.1);
        }
    }
    .confirm {
        background-color: green;
    }
    .cancel {
        background-color: red;
    }
}

.loading-message {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: $white_light;
    margin: auto;
    span {
        color: black;
        font-size: calc(18 / 16) + rem;
    }
}